<div class="text-field">
  <%= f.label :email %>
  <%= f.text_field :email, type: 'email' %>
</div>

<div class="first_name-field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>


  <div class="last_name-field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

<div class="password-field">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>

<div class="image-field">
  <%= f.label :image %>
  <%= f.file_field :image %>
</div>


