<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="first_name-field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>


  <div class="last_name-field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>



<div class="image-field">
  <%= form.label :image %>
  <%= form.file_field :image %>
</div>


