<%= form_tag listings_path, method: :get do %>
<p>
	<%= text_field_tag :search, params[:search]  %>
<p>
Price Range <br>
<%= number_field_tag :price, params[:price] %> to <%= number_field_tag :price1, params[:price1] %>

</p>
	<%= submit_tag "Search", :name => nil %>
</p>
<% end %>

<% if signed_in? &&current_user.customer? %>

	<% for listing in @listings do  %>
	<% if listing.verification == "yes" %>
	<%= listing.location %><br>
	$<%= listing.price %><br>
	<a href="listings/<%= listing.id %>">View</a><br>
	<% end %>
	<% end %>
<% elsif signed_in?%>
	<%if current_user.admin? ||current_user.superadmin? %>
	<%= link_to "All Users", users_path%>
	<% end %>
<% else %>
	<%= link_to "Sign up", sign_up_path %>
	<p>you need to be signed in to view listings</p>
<% end %>



