<% if signed_in? &&current_user.customer? %>

<%= form_tag listings_path, id: "listings-search", method: :get do %>
<p>
	<%= text_field_tag "query", nil, list: "list", placeholder: "Search" %>
	<datalist id="list">
		
	</datalist>
<p>
Price Range <br>
<%= number_field_tag :price, params[:price] %> to <%= number_field_tag :price1, params[:price1] %>

</p>
	<%= submit_tag "Search", :name => nil %>
</p>
<% end %>
	<% count =0 %>
	<% @listings.each do |listing|  %>
	<%= count+1%>
	<%= listing.location %> <== Verified Listing<br>
	$<%= listing.price %><br>
	<% if listing.pictures?%>
	<%= image_tag listing.pictures[0].thumb.url %><br>
	<% end %>
	<a href="/listings/<%= listing.id %>">View</a><br>
	<a href="/listings/<%= listing.id %>/reservations/new">Request to Book</a><br>
	<% count +=1%>
	<br>
	<% end %>
	<%= will_paginate @listings%>
<%elsif signed_in? && current_user.superadmin?%>
<% count =0 %>
<% @listingsAll.each do |listing|  %>
<%= count+1%>
	<%= listing.location %><br>
	
	     <a href="listings/<%= listing.id %>/verify"> Verified: <%= listing.verification %></a><br>
	<% count +=1%>
    <% end %>              
<%= will_paginate @listingsAll %>
                    
<% else %>
	<%= link_to "Sign up", sign_up_path %><br>
  	<%= link_to "Sign in", sign_in_path %>
	<p>Create an account or sign in to view listings </p>
<% end %>

<!-- <script>
$("#listings-search").on("keyup", function(){
  autocomplete()
});

function autocomplete(){
	// let search = $("#listings-search").serialize()
	// console.log("serialize")
	// console.log(search);
	console.log("I am inside of autocomplete")
	// let query = $("#city-search").serialize();
	// console.log("==============")
	// console.log(query);
  $.ajax({
    url: '/search',
    type: 'POST',
    data: $("#listings-search").serialize(), //takes the form data and authenticity token and converts it into a standard URL
    dataType: 'json', //specify what type of data you're expecting back from the servers
    error: function(request, status, error) {
    	alert(request.responseText);
        console.log("Something went wrong");
    },
    success: function(data) {
    	console.log(" I am back in javascript ajax");
      	console.log(data)
      	let list = $("#list")
      	console.log(list);	
      $("#list").html("");

      data.forEach(function(element) {
        var option = document.createElement("option");
        option.value = element.location;

        // append option to list
        $("#list").append(option);
      });
    }
  });
}



</script> -->

